form{
  text-align: center;
}
input[type=text]{
  width : 200px;
  box-sizing: border-box;
  margin: 12px 20px;
  padding: 10px;
  border-radius: 5px;
  transition: width 0.4s ease-in-out;
  font-size: 13px
}
input[type=text]:focus{
  width : 500px
}
input[type=submit]{
  padding: 10px 20px;
  background: white;
  color: black;
  border-radius: 5px;
  border: 1px solid green;
  transition: .4s ease-in-out;
  margin: 20px;
  cursor: pointer;
}
input[type=submit]:hover{
  background: green;
  color: white;
}
.a{
  background: white;
  text-decoration: none;
  padding: 10px 29px;
  border-radius: 5px;
  border:1px solid red;
  color:black;
  transition: .4s ease-in-out;
}
.a:hover{
  background: red;
  color: white
}
body{
  background-color: rgba(224,224,224 ,1)
}
*{
  font-size: 20px
}
table,tr,td,th{
  border-collapse: collapse;
  padding: 10px;
  font-size: 20px;
  text-align: left;
  margin: auto;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}
th{
	background: #4CAF50;
	color :white;
	text-align: center;
}
img{
	width :30px;
}
