<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'mana/add_page_style.css' %}">
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form class="" action="{% url 'mana:accept' %}"  method="post">
    {% csrf_token %}
    <label>نام</label>
    <input type="text" name="name"/><br>
    <label>نام خانوادگی</label>
    <input type="text" name="last_name"/><br>
    <label>شماره موبایل</label>
    <input type="text" name="phone_number" value=""/><br>
    <label>توضیحات</label>
    <textarea name="description" rows="12" cols="30"></textarea>
    <input type="submit" name="accept" value='ثبت'>
    </form>
    <a href="{% url 'mana:index' %}">صفحه اصلی</a>
  </body>
</html>
