<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form class="" action="{% url 'mana:accept' %}"  method="post">
    {% csrf_token %}
    <label>Name</label>
    <input type="text" name="name"/><br>
    <label>Last Name</label>
    <input type="text" name="last_name"/><br>
    <label>Phone Number</label>
    <input type="text" name="phone_number" value=""/><br>
    <input type="submit" name="accept">
    </form>
  </body>
</html>
