<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'mana/update2_page_style.css' %}">
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
          <form class="" action="{% url 'mana:update' list.id %}" method="post">
            {% csrf_token %}
            <label>نام</label>
            <input type="text" name="name" value='{{ list.customer_name }}'/><br>
            <label>نام خانوادگی</label>
            <input type="text" name="last_name" value="{{ list.customer_lastname }}"/><br>
            <label>شماره موبایل</label>
            <input type="text" name="phone_number" value="{{ list.phone_number }}"/><br>
            <label>شناسه</label>
            <input type="text" name="customer_id" value="{{ list.customer_id }}"><br>
            <label>توضیحات</label>
            <textarea name="description" rows="12" cols="30" value></textarea>
            <input type="submit" name="submit" value="ثبت ویرایش"><br><br>
            <a href="{% url 'mana:index' %}">صفحه اصلی</a>
          </form>


  </body>
</html>
